@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		font-family: 'Inter', sans-serif, 'Lato', 'sans-serif';
		--primary-blue: 66 110 199;
		--primary-red: 230 19 19;
		--primary-green: 22 161 22;
		--primary-yellow: 255 191 0;
		--primary-gray: 100 100 100;
		--primary-dark-gray: 88 87 81;
		--primary-white: 250 250 249;
		--primary-background: 238 238 238;
		--border-color: 0 0 0;
	}

	body {
		@apply max-w-screen-3xl bg-primary-background h-screen max-h-screen w-screen;
	}
	div {
		@apply box-border;
	}

	.pagination {
		display: inline-block;
	}
	
	.pagination li {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
	}
	
	.pagination li.active {
		background-color: #4CAF50;
		color: white;
		border-radius: 5px;
	}
	
	.pagination li:hover:not(.active) {
		background-color: #ddd;
		border-radius: 5px;
	}

	.loading {
		display: inline-block;
		margin: auto;
		width: auto;
		align-content: center;
	}

	.progress-bar-animated {
		position:relative;
	}

	.progress-bar-animated::before {
		content:"";
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border-radius:inherit;
		background:linear-gradient(to right,transparent,rgba(255, 255, 255, 0.7));
		transform:translateX(-100%);
		animation: progress-bar-shine 2s infinite;
	}

	@keyframes progress-bar-shine {
		to {
		transform:translateX(0);
		opacity:0.1;
		}
	}

	/* .container-styles {
		height: 20;
		width: '100%';
		background-color: "#e0e0de";
		border-radius: 50;
		margin: 50;
	}

	.label-styles {
		padding: 5;
		color: 'white';
		font-weight: 'bold';
	}*/
} 
