@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		font-family: 'Inter', sans-serif, 'Lato', 'sans-serif';
		--primary-blue: 66 110 199;
		--primary-red: 230 19 19;
		--primary-green: 22 161 22;
		--primary-yellow: 255 191 0;
		--primary-gray: 100 100 100;
		--primary-dark-gray: 88 87 81;
		--primary-white: 250 250 249;
		--primary-background: 238 238 238;
		--border-color: 0 0 0;

		/* Shad/cn variables */
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;
		--ring: 215 20.2% 65.1%;
		--radius: 0.5rem;
		--pos-primary-background: 56 61 82;
	}

	body {
		@apply max-w-screen-3xl bg-primary-background h-screen max-h-screen w-screen;
	}
	div {
		@apply box-border;
	}

	.pagination {
		display: inline-block;
	}

	.pagination li {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		cursor: pointer;
	}

	.pagination li.active {
		background-color: #4caf50;
		color: white;
		border-radius: 5px;
	}

	.pagination li:hover:not(.active) {
		background-color: #ddd;
		border-radius: 5px;
	}

	.loading {
		display: inline-block;
		margin: auto;
		width: auto;
		align-content: center;
	}

	.progress-bar-animated {
		position: relative;
	}

	.progress-bar-animated::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		background: linear-gradient(
			to right,
			transparent,
			rgba(255, 255, 255, 0.7)
		);
		transform: translateX(-100%);
		animation: progress-bar-shine 2s infinite;
	}

	@keyframes progress-bar-shine {
		to {
			transform: translateX(0);
			opacity: 0.1;
		}
	}
}

@layer base {
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}
